/* #21c6ce logo color */
* {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 15px;
}

.title {
    text-align: center;
    margin: 0 0 50px 0;
    padding: 50px 0 0 0;
}

.description {
    text-align: center;
}

.toolkit {
    display: block;
    margin: 50px auto;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    header {
        background-image: url(../img/airphone.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #works {
        background-image: url(../img/projectphone.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #quote {
        background-image: url("../img/codephone.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #about {
        background-image: url("../img/cityphone.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #contact {
        background-image: url("../img/contactphone.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

/* Home */

header {
    background-image: url(../img/air.jpg);
    width: 100%;
    height: 800px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 500px;
    padding-top: 170px;
}

/* goal */

#goal {
    text-align: center;
    color: black;
}

.information {
    margin: 100px;
}

/* Works */
#works {
    background-image: url(../img/project.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.project {
    padding: 50px;
}

.project-title {
    text-align: center;
}

.showcase {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

#heading-about, #about-p, #heading-coffee, #heading-tec, #tec-p, #heading-link, #link {
    padding-left: 10px;
}

.coffee {
    margin: 8px;
}

#change {
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
}

#link {
    text-decoration: none;
    color: black;
}

#link:hover {
    color: blue;
}

.next-button {
    background-color: #21c6ce;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #19868c;
}

/*Quote */

#quote {
    text-align: center;
    padding: 50px;
    color: white;
    background-image: url("../img/code.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Services */

#services {
    color: black;
}

/* About */

#about {
    color: white;
    background-image: url("../img/city.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.picture {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 260px;
}

.description {
    margin: 40px;
}


/*Quote2 */

#quote2 {
    text-align: center;
    padding: 50px;
}

/* Contact */

#contact {
    color: white;
    background-image: url("../img/contact.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.general-info {
    margin: 80px 0 50px 0;
    text-align: center;
}

.social-networks {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.social {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.social:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: black;
    color: white;
}

.fcc {
    background: darkgreen;
    color: white;
}

.gitshowcase {
    background: #21c6ce;
    color: white;
}

.quora {
    background: red;
    color: white;
}

.stack {
    background: grey;
    color: white;
}


.copyright {
    margin-top: 20px;
    text-align: center;
}
