/* #21c6ce logo color */
* {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Home */

header {
    background-image: url(../img/bgforest.jpeg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    margin: 0 0 50px 0;
    padding: 50px 0 0 0;
}

.logo {
    display: block;
    margin:  150px auto;
    width: 400px;
    height: 300px;
}

/*Quote */

#quote {
    text-align: center;
    padding: 50px;
    color: white;
    background-image: url("../img/code.png");
}



/* Works */
#works {
    background-color: #21c6ce;
}

.project {
    padding: 50px;
}

.project-title {
    text-align: center;
}

.showcase {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

#heading-about, #about-p, #heading-fuel, #heading-tec, #tec-p, #heading-link, #link {
    padding-left: 10px;
}

.coffee {
    margin: 8px;
}

#change {
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
}

/* Services */

.toolkit {
    display: block;
    margin: 50px auto;
    text-align: center;
}




